<!-- Franja superior (aviso) -->
<div class="franja-superior">
  MATRÍCULAS ABIERTAS – INICIAL Y PRIMARIA
</div>

<header class="encabezado encima">
  <div class="fila-encabezado">
    <a class="marca" href="index.html">
      <img src="assets/img/logooo.png" alt="IEI Virgen del Carmen" class="marca__logo">
    </a>

    <button class="boton-menu" aria-label="Abrir menú">
      <span class="linea"></span><span class="linea"></span><span class="linea"></span>
    </button>

    <nav class="navegacion-principal" aria-label="Principal">
      <a href="index.html" data-page="index.html" class="activo">Inicio</a>
      <a href="pages/nuestra-institucion.html" data-page="pages/nuestra-institucion.html">Nuestra Institución</a>
      <a href="pages/servicios.html#inicial" data-page="pages/servicios.html#inicial">Inicial</a>
      <a href="pages/servicios.html#primaria" data-page="pages/servicios.html#primaria">Primaria</a>
      <a href="pages/valores.html" data-page="pages/valores.html">Valores</a>
      <a href="pages/docentes.html" data-page="pages/docentes.html">Docentes</a>
      <div class="cta-grupo">
        <a class="boton boton--pastilla boton--marca" href="pages/contacto.html" data-page="pages/contacto.html">Agendar visita</a>
        <a class="boton boton--pastilla boton--borde" href="pages/donar.html" data-page="pages/donar.html">Donar</a>
      </div>
    </nav>
  </div>
</header>
